.home-container {
    text-align: center;
    padding: 50px;
  }
  
  .quote-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .quote-text {
    font-size: 24px;
    font-style: italic;
    color: #333;
  }
  